/* @media screen and (min-width: 720px) and (max-width: 1080px) { */
/* gap: 0.5rem; */
/* .username h3 {
    font-size: 1rem;
  }
} */
/* @media screen and (max-width: 720px) {
  .current-user username {
    display: none;
  }
} */

@media screen and (max-width: 1020px) {
  #curr_user {
    display: none;
  }
  .contacts {
    width: 100%;
    /* width: 126.73px; */
    /* width: 216.75px; */
  }
  .contact {
    display: flex;
    justify-content: center;
    /* width: 134px; */
  }
  .current-user {
    /* width: 126.73px; */
    width: 100%;
    /* width: 216.75px; */
    /* width: fit-content;
    height: fit-content;
    text-align: center; */
    /* font-size: 50%; */
  }
  #avatar {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  #currentusername {
    display: none;
  }
  .brand h3 {
    display: none;
  }
  .brand {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* width: 216.75px; */
    /* width: calc((100%-1000) / 2); */
    width: 100%;
    /* width: 126.73px; */
    /* display: inline-block;
    width: fit-content;
    height: fit-content;
    text-align: center; */
  }
  #container1 {
    width: 80%;
  }
  #container4 {
    /* width: 200%; */
    margin-left: -7%;
  }
  /* #container3 .button-container .emoji { */
  /* gap: 3rem; */
  /* } */
  /* #container3 { */
  /* padding: 20px; */
  /* width: 679.46px; */
  /* margin-left: 0; */
  /* padding: 0;
    padding-left: 0; */
  /* width: 150%; */
  /* margin-right: 50%; */
  /* width: 100%;
    margin-right: 50px;
    gap: 10rem;
   
    grid-template-columns: 250%; */
  /* } */
  /* .brand {
    position: sticky;
    z-index: 20000 !important;
    overflow-x: hidden;
    background-color: red;
    top: 0px;
    right: 0px;
    position: Absolute;
    transform: Translate(100vw, 100vh);
  } */
  /* .brand {
    display: inline-block;
    width: 50%;
    max-width: 600px;
    width: 100%;
    height: 66.67vh;
    background-size: cover;
    overflow: hidden;
  } */
}

/* @media screen and (max-width: 615px) {
  .brand h3{
    display: none;
  }
  .brand h3 {
    width: auto;
  }
} */
/* @media screen and (min-width: 1084px) and (max-width: 1253px) {
  .contact {
    width: 134px;
  }
} */
/* body {
  overflow: scroll;
  min-height: 100vh;
  min-width: 100vw;
} */
@media only screen and (max-width: 354px) {
  /* .chat-header {
    width: calc(100% - 100px);
  }*/
  #container4 .chat-header .user-details .avatar img {
    display: none;
  }
  .chat-header {
    width: 100%;
  }
  .chat-messages {
    width: 100%;
  }
  #container3 {
    width: 100%;
  }
  #container4 {
    width: 100%;
  }
}
@media only screen and (max-width: 1025px) {
  #container3 {
    width: 100%;
  }
  .button-container .emoji {
    margin-right: 4rem;
    /* padding: 2px; */
  }
}
@media only screen and (max-width: 600px) and (min-width: 281px) {
  #container2 h1,
  h3 {
    font-size: 1rem;
  }
  #container2 img {
    max-width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 280px) {
  #container2 img {
    max-width: 80%;
    height: auto;
    /* size: 30%; */
  }
  #container2 h1,
  h3 {
    font-size: 70%;
  }
}
/* Contact */
#container1 {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;
}
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.brand img {
  height: 2rem;
}
.brand h3 {
  color: white;
  text-transform: uppercase;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contacts ::-webkit-scrollbar {
  width: 0.2rem;
}
.contacts ::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.contact {
  background-color: #ffffff34;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.avatar img {
  height: 3rem;
}
.username h3 {
  color: white;
}
.selected {
  background-color: #9a86f3;
}

.current-user {
  background-color: #0d0d30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.avatar img {
  height: 4rem;
  max-inline-size: 100%;
}
.username h2 {
  color: white;
}

/* Welcome*/
#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
#container2 img {
  height: 20rem;
}
#container2 span {
  color: #4e0eff;
}
#container2 h1,
h3 {
  text-align: center;
}

/*Chat Input */
#container3 {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #080420;
  padding: 0 2rem;
  padding-bottom: 0.3rem;
}
#container3 .button-container {
  display: flex;
  align-items: center;
  color: white;
  /* gap: 1rem; */
}
#container3 .button-container .emoji {
  position: relative;
}
#container3 .button-container .emoji svg {
  font-size: 1.5rem;
  color: #ffff00c8;
  cursor: pointer;
}
#container3 .button-container .emoji .emoji-picker-react {
  position: absolute;
  top: -350px;
  background-color: #080420;
  box-shadow: 0 5px 10px #9a86f3;
  border-color: #9a86f3;
}
#container3
  .button-container
  .emoji
  .emoji-picker-react
  .emoji-scroll-wrapper::-webkit-scrollbar {
  background-color: #080420;
  width: 5px;
}
#container3
  .button-container
  .emoji
  .emoji-picker-react
  .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #9a86f3;
}

#container3 .button-container .emoji .emoji-categories button {
  filter: contrast(0);
}
#container3 .button-container .emoji .emoji-search {
  background-color: transparent;
  border-color: #9a86f3;
}
#container3 .button-container .emoji .emoji-group:before {
  background-color: #080420;
}

#container3 .input-container {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  background-color: #ffffff34;
}
#container3 .input-container input {
  width: 90%;
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}
#container3 .input-container input::selection {
  background-color: #9a86f3;
  border: none;
  outline: none;
}
#container3 .input-container input:focus {
  border: none;
  outline: none;
}
#container3 .input-container button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a86f3;
  border: none;
}
#container3 .input-container button svg {
  font-size: 2rem;
  color: white;
}

/* Chat Container */
#container4 {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 10% 78% 12%;
  /* gap: 0.1rem; */
  overflow: hidden;
}
#container4 .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
#container4 .chat-header .user-details {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
#container4 .chat-header .user-details .avatar img {
  height: 3rem;
}
#container4 .chat-header .user-details .username h3 {
  color: white;
}
#container4 .chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  overflow: auto;
}
#container4 .chat-messages ::-webkit-scrollbar {
  width: 0.2rem;
}
#container4 .chat-messages ::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
#container4 .message {
  display: flex;
  align-items: center;
}
#container4 .message .content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: #d1d1d1;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    max-width: 70%;
  }
}
#container4 .sended {
  justify-content: flex-end;
}
#container4 .sended .content {
  background-color: #4f04ff21;
}
#container4 .recieved {
  justify-content: flex-start;
}
#container4 .recieved .content {
  background-color: #9900ff20;
}
